<html>
    <head>
        <meta http-equiv="refresh" content="30">
        <title>{{ title }}</title>
        <style>
            .temp {
                color: red;
                font-size: 200px;
            }
        </style>
    </head>
    <body>
        <img src="/logo.svg" title="ThermoService logo" style="width: 20%">
        <h1>Thermoservice on {{ hostname }}!</h1>
        {{ when }}
        <div class="temp">{{ temperature }}&deg;</div>
        <div><a href="/celsius">Celsius Temperature Endpoint</a></div>
    </body>
</html>
